.collection-item {
  width: 22vw;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;

  .image {
    position: relative;
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;

    .image-overlay,
    .button {
      position: absolute;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }

    .image-overlay {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0.2);
      opacity: 0;
    }

    .button {
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
    }

    &:hover {
      .button,
      .image-overlay {
        opacity: 1;
      }
    }
  }

  .collection-footer {
    padding: 0 5px;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 10%;
    }
  }
}
