.sign-in {
  width: 380px;
  display: flex;
  flex-flow: column nowrap;

  .title {
    margin: 10px 0;
  }

  .buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
